
@import 'boxicons';

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Anek Tamil', sans-serif;
    background: rgba(244, 241, 241, 0.994);
}

:root {
    --primary-color: #138C7F
}

.text-light {
    color: black;
}

.icon-size {
    font-size: 30px;
}

.flex {
    display: flex;

}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

ul li {
    list-style: none;
    cursor: pointer;
}